<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 class='bold'>Em breve</h2>
      <p>Vagas publicadas</p>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 class='bold'>Em breve</h2>
      <p>Visualizações de vagas</p>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 class='bold'>Em breve</h2>
      <p>Candidatos</p>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 class='bold'>Em breve</h2>
      <p>Cliques</p>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 class='bold'>Em breve</h2>
      <p>Taxa de candidaturas</p>
    </div>
  </div>
</div>
