/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 @import 'social-share-button';

body {
  position: relative;
  background-color: #e7e7e7;
  font-size: 16px;
}

.bold {
  position: relative;
  font-weight: bold;
}

.padding {
  position: relative;
  padding: 05px;
}

textarea {
  position: relative;
  resize: none !important;
  height: 220px;
}

header {
  .navbar-default {
    position: relative;
    background-color: #01355c;
    border: 0px solid;
    border-radius: 0px;

    .navbar-brand {
      position: relative;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.logo {
  position: relative;
  width: 144px;
  height: 144px;
  border-radius: 144px;
  margin-top: -10px;
  margin-bottom: 30px;
  background-color: #EEE;
}

#presenter {
  position: relative;
  background-color: #01355c;
  color: #FFF;
  margin-top: -20px;
}

.uppercase {
  position: relative;
  text-transform: uppercase;
}

/* post-job */
#post-job {
  position: relative;
  margin-top: -30px;
  // background-color: pink;
  padding-bottom: 60px;
}

/* Partners */
.partners-logo {
  position: relative;
  width: 160px;
}

#last-jobs {
  position: relative;
  margin-top: 0px;
  margin-bottom: 100px;
}

#newsletter-block {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

#partners {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  position: relative;
  border-top: 1px solid #CCC;
  background-color: #EEE;
  margin-top: 30px;
  padding-top: 30px;
}
