/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 @import 'social-share-button';

body {
  position: relative;
  background-color: #f7f7f7;
  font-size: 16px;
}

.bold {
  position: relative;
  font-weight: bold;
}

.padding {
  position: relative;
  padding: 05px;
}

textarea {
  position: relative;
  resize: none !important;
  height: 220px;
}

header {
  .navbar-default {
    position: relative;
    background-color: #EEE;
    
    .navbar-brand {
      position: relative;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

#presenter {
  position: relative;
  margin-top: -20px;
}

footer {
  position: relative;
  border-top: 1px solid #CCC;
  background-color: #EEE;
  margin-top: 30px;
  padding-top: 30px;
}
